@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
    margin: 0px;
}

body {
    font-family: "Roboto", sans-serif;
}

.layout {
    display: grid;
    grid-template-columns: 20% 80%;
    flex-direction: row;
}

.navbar {
    display: flex;
    flex-direction: column;
    background-color: #22d3ee;
    flex: 1;
    color: white;
}

.company {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: large;
    font-weight: bolder;
}

.logo {
    height: 100px;
    width: 100px;
    flex-grow: 0;
    flex-shrink: 0;
}

.options {
    margin: 20px;
}

.option {
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

svg {
    width: 24px;
    height: 24px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: larger;
    font-weight: bold;
    margin-left: 10px;
}

.header {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 40px;
    margin-right: 40px;
}

.toprow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.searchicon {
    width: 32px;
    height: 32px;
    margin-left: 10px;
}

.searchbar {
    align-items: center;
    justify-content: center;
    display: flex;
}

.search {
    width: 700px;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
    border-radius: 10px;
    height: 40px;
    background-color: #dcf8ff;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: bolder;
}

.pfp {
    width: 50px;
    height: 50px;
    margin: 0px 20px;
}

.bottomrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0px;
}

.picgreeting {
    display: flex;
    align-items: center;
}

.pfpbig {
    height: 100px;
    width: 100px;
    margin-right: 20px;
    margin-left: 10px;
}

.greet {
    font-size: 24px;
}

.bigname {
    font-size: 38px;
    font-weight: bold;
    margin-top: 5px;
}

.greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    background-color: #22d3ee;
    width: 100px;
    height: 40px;
    margin-left: 30px;
    border-radius: 20px;
    color: white;
    font-size: large;
    font-weight: bold;
    border-width: 0px;
}

.mainpart {
    display: flex;
    flex-direction: column;
}

.core {
    display: grid;
    grid-template-columns: 70% 30%;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #dcf8ff;
}

.projects {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
    margin: 20px;
}

.project {
    border-color: black;
    border-width: 10px;
    background-color: white;
    margin-right: 20px;
    margin-bottom: 20px;
    min-height: 180px;
    border-radius: 10px;
    padding: 20px;
}

p {
    padding-top: 20px;
}

.announcementsandtrending {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.trending {
    margin-top: 40px;
}
